<!DOCTYPE html>
<html>
<head>
  <title>Katgut</title>
  <%= stylesheet_link_tag    "katgut/application", media: "all" %>
  <%= javascript_include_tag "katgut/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
